<section class='sign'>
  <h3>Please Add Artwork</h3>
  <form action='/artworks' method='post'>
    <input type='text' name='title' placeholder='Your artwork title...'>
    <textarea name='description' placeholder='Your artwork description...'></textarea>
    <input type='url' name='image_url' placeholder='Your artwork url...'>
    <input type='date' name='date' placeholder='Your artwork date...'>
    <input type='submit' value='Add'>
  </form>
</section>