<section class='sign'>
  <h3>Please Sign Up</h3>
  <form action='/lovers' method='post'>
    <label for="artist">Are you an artist?</label>
    <input type='checkbox' name='artist' checked>
    <input type='text' name='alias' placeholder='Your alias...'>
    <input type='email' name='email' placeholder='Your email...'>
    <input type='password' name='password' placeholder='Your password...'>
    <input type='text' name='first_name' placeholder='Your first name...'>
    <input type='text' name='last_name' placeholder='Your last name...'>
    <input type='url' name='image_url' placeholder='Your image url...'>
    <textarea name='bio' placeholder='Your bio...'></textarea>
    <input type='url' name='website_url' placeholder='Your website url...'>
    <input type='submit' value='Sign Up'>
  </form>
  <form  class='option' action='/lovers/login' method='get'>
    <input type='submit' value='Sign In'>
  </form>
</section>