<div class="container">
  <h1>Welcome to Love-Art!</h1>
  <p>A place for artists to showcase their original artwork, and connect with art lovers.</p>
  <div class="action">
      <form action='/show' method='get'>
        <input type='submit' value='SHOW'>
      </form>
      <form action='/love' method='get'>
        <input type='submit' value='LOVE'>
      </form>
  </div>
</div>
