<section class='sign'>
  <h3>Please register</h3>
  <form action='/register' method='post'>
    <label for="artist">Artist</label>
    <input type='checkbox' name='artist' checked>
    <input type='text' name='alias' placeholder='Your alias...'>
    <input type='email' name='email' placeholder='Your email...'>
    <input type='password' name='password' placeholder='Your password...'>
    <input type='text' name='first_name' placeholder='Your first name...'>
    <input type='text' name='last_name' placeholder='Your last name...'>
    <input type='url' name='image_url' placeholder='Your image url...'>
    <textarea name='bio' placeholder='Your bio...'></textarea>
    <input type='url' name='website_url' placeholder='Your website url...'>
    <input type='submit' value='Register'>
  </form>
  <form  class='option' action='/login' method='get'>
    <input type='submit' value='Login'>
  </form>
</section>